.h4A{
    color: rgb(63, 36, 36);
}

nav{
    height: 80px;
    background-color: rgb(116, 82, 44);
    display: flex;   
}
.p1{
    float:left;
    padding: 15px;
    font-size: 30px;
    position: relative;
}
.a{
    padding: 10px 350px;
}
a{
    text-decoration: none;
    color: rgb(247, 183, 183);
    display: block;
}
.divvv{
    background-color: brown;
    color: rgb(247, 183, 183);
    height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.divv{
    background-color: rgb(255, 224, 230);
    height: 1000px;
    
    display: flex;
}
.div2{
    padding-top: 2px;
    border:rgb(221, 27, 66)  solid;

}
.IMMMG{
    height: 992px;
    
    
}
.h3B{
    text-align: center;
    font-size: 30px;
    color: rgb(228, 36, 84);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.div1{
    width: 60%;
    float: right;
}
.p2{
    text-align: center;
    color: rgb(78, 40, 18);
}
.p3{
    text-align: center;
    color: rgb(78, 40, 18);
}
.h3C{
    text-align: center;
    font-size: 27px;
    color: rgb(228, 36, 84);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.DIV1{
    display: flex;
    justify-content: space-between;
}
.DIV2{
    display: flex;
    justify-content: space-between;
}
.content1{
    
    translate: 10px 0px;
    border:rgb(221, 27, 66)  solid;
}
.content2{
    border:rgb(221, 27, 66)  solid;
}
.content3{
    translate: -10px 0px;
    border:rgb(221, 27, 66)  solid;
}
.content4{
    translate: 10px 0px;
    border:rgb(221, 27, 66)  solid;
}
.content5{
    border:rgb(221, 27, 66)  solid;
 }  
.content6{
    translate: -10px 0px;
border:rgb(221, 27, 66)  solid;
}
