
.h4A{
    color: rgb(63, 36, 36);
}

nav{
    height: 80px;
    background-color: rgb(116, 82, 44);
    display: flex;   
}
.a{
    padding: 10px 350px;
}
a{
    text-decoration: none;
    color: rgb(247, 183, 183);
    display: block;
}
.divvv{
    background-color: brown;
    color: rgb(247, 183, 183);
    height: 40px;
 }
 .h3A{
    text-align: center;
    color: rgb(248, 99, 156);
    border: 4px double rgb(214, 19, 51);
}
.p1{
    float:left;
    padding: 15px;
    font-size: 30px;
    position: relative;
}
button{
    border: 4px dotted pink;
    color: pink;
    background-color: rgb(44, 28, 9);
 }
 button:hover{
    font-size: 20px;
 }
 .background{
   
    height: 1500px;
 }
 form{
    padding-top: 200px;
    margin-left: 500px;
    width: 600px;
    background: transparent;
    
}
.A{
    width: 600px;
    outline-color :rgb(216, 30, 108);
    background: transparent;
    border:none ;

}
body{
    text-align: center;
    background:url(https://www.shutterstock.com/image-photo/morning-cup-coffee-cake-macaron-600nw-507902977.jpg) no-repeat center center/cover;
    height: 800px;
}
h2{
color: pink;
}
h4{
    color: pink;
}
#a{
    border: solid pink;
    border-radius: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.h{
    color: rgb(218, 18, 51);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
textarea{
    border:solid pink;
}





   