
.h4A{
    color: rgb(63, 36, 36);
}

nav{
    height: 80px;
    background-color: rgb(116, 82, 44);
    display: flex;   
}
.a{
    padding: 10px 350px;
}
a{
    text-decoration: none;
    color: rgb(247, 183, 183);
    display: block;
}
.divvv{
    background-color: brown;
    color: rgb(247, 183, 183);
    height: 40px;
 }
 .h3A{
    text-align: center;
    color: rgb(248, 99, 156);
    border: 4px double rgb(214, 19, 51);
}
.p1{
    float:left;
    padding: 15px;
    font-size: 30px;
    position: relative;
}
button{
    border: 4px dotted pink;
    color: pink;
    background-color: rgb(44, 28, 9);
 }
 button:hover{
    font-size: 20px;
 }


.height{
    background-color: rgb(255, 235, 239);
    height: 1400px;
}
.imG{
    height: 300px;
    width: 300px;
    border: solid rgb(109, 73, 27);
    border-radius: 30px;
}
.TITLE1{
    display: flex;
    justify-content: space-between;
}
.TITLE2{
    display: flex;
    justify-content: space-between;
}
.TITLE3{
    display: flex;
    justify-content: space-between;
}
p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.content1{
    border-radius: 20px;
    border: solid pink;
}
.content2{
    border-radius: 20px;
    border: solid pink;
}
.content3{
    border-radius: 20px;
    border: solid pink;
}
.content4{
    border-radius: 20px;
    border: solid pink;
}
.content5{
    border-radius: 20px;
    border: solid pink;
}
.content6{
    border-radius: 20px;
    border: solid pink;
}
.content7{
    border-radius: 20px;
    border: solid pink;
}
.content8{
    border-radius: 20px;
    border: solid pink;
}
.content9{
    border-radius: 20px;
    border: solid pink;
}
.content10{
    border-radius: 20px;
    border: solid pink;
}
.content11{
    border-radius: 20px;
    border: solid pink;
}
.content12{
    border-radius: 20px;
    border: solid pink;
}
.imG:hover{
    scale: 2;
    border: solid rgb(230, 85, 109);
}



